
.icon-artboard-3:before { content: '\4c'; } /* 'L' */
.icon-artboard-6:before { content: '\65'; } /* 'e' */
.icon-artboard-5:before { content: '\67'; } /* 'g' */
.icon-artboard-2:before { content: '\6c'; } /* 'l' */
.icon-artboard-4:before { content: '\74'; } /* 't' */
.icon-artboard-1:before { content: '\7a'; } /* 'z' */
.icon-clock:before { content: '\e800'; } /* '' */
.icon-target:before { content: '\e801'; } /* '' */
.icon-info-outline:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-ok-outline:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-cancel-outline:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-block-outline:before { content: '\e808'; } /* '' */
.icon-block:before { content: '\e809'; } /* '' */
